asgiref==3.7.2
Django==4.1.7
Pillow==9.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
sqlparse==0.4.4
tzdata==2023.3

﻿
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
requests==2.31.0
urllib3==2.0.3
